 
body{
	background: #FFFAE2;
	font-family: 'PT Serif', serif
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.flex-container {
  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  overflow: auto;
  max-width: 1800px;
}

.flex-item {
	height: 100vh;
	margin: auto;
	width: 100%;
}

#homepage {
	height: 100vh;
	width: 100%;
}

#homepage h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #141414;
	margin-top: 1.25%;
}

#homepage-image {
	height: 660px;
	width: 660px;
	margin: auto;
}

#homepage img {
	max-width: 100%;
}

.buttons{
	width: 54%;
	margin: auto;
	overflow: auto;
}

.buttons a {
	text-decoration: none;
	color: #FFFAE2;
}

.about-button {
	display: inline-block;
	text-align: center;
	width: 26.041666%;
	height: 6.25%;
	margin: 2.083333%;
	padding-top: 30px;
	background-color: #141414;
	color: #FFFAE2;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	border-radius: 2px;
	letter-spacing: 2px;
	border-right: 8px;
	border-style: solid;
	border-color: #F8CA4D;
	transition: background-color 1s;
	transition-timing-function: linear;
}

.about-button:hover {
	background-color: #F8CA4D;
}

.work-button{
	display: inline-block;
	text-align: center;
	width: 26.041666%;
	height: 6.25%;
	margin: 2.083333%;
	background-color: #141414;
	color: #FFFAE2;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding-top: 30px;
	border-radius: 2px;
	letter-spacing: 2px;
	border-right: 8px;
	border-style: solid;
	border-color: #105B63;
	transition: background-color 1s;
	transition-timing-function: linear;
}

.work-button:hover {
	background-color: #105B63;
}

.contact-button{
	display: inline-block;
	text-align: center;
	width: 26.041666%;
	height: 6.25%;
	margin: 2.083333%;
	background-color: #141414;
	color: #FFFAE2;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding-top: 30px;
	border-radius: 2px;
	letter-spacing: 2px;
	border-right: 8px;
	border-style: solid;
	border-color: #BD4932;
	transition: background-color 1s;
	transition-timing-function: linear;
}

.contact-button:hover {
	background-color: #BD4932;
}

#homepage .second-nav {
	display: none;
}

.section-titles h2 {
	text-align: center;
	color: #FFFAE2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 72px;
	letter-spacing: 3px;
	margin-top: 50px;
	position: relative;
 }

 .typing-animation {
 	position: relative;
	overflow: hidden;
  	white-space: nowrap; 
  	margin: 0 auto; 
  	letter-spacing: 3px; 
  	-webkit-animation: type 3.5s steps(40, end);
  	animation: type 3.5s steps(40,end);
 }

/* The typing effect */
@keyframes type {
  from {width: 0}
  to {width: 100%}
}

@-webkit-keyframes type {
	from {width: 0}
	to {width: 100%}
}

#aboutpage {
	height: 100vh;
}

.about-section-left {
	float: left;
	width: 50%;
	background-color: #F8CA4D;
	height: 100vh;
}

.images {
	width: 600px;
	margin: 10%;
}

.about-section-left img {
	clear: both;
	max-width: 100%;
	height: auto;
}


.second-nav {
	text-align: center;
	color: #FFFAE2;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 24px;
	font-weight: 300;
}

.second-nav a{
	text-decoration: none;
	color: #FFFAE2;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 24px;
	font-weight: 300;
}

.second-nav a:hover{
	font-weight: 400;
	font-size: 24px;
}

.about-section-right {
	float: right;
	width: 50%;
	background-color: #FFFAE2;
	border-top: 2px dotted;
	border-bottom: 2px dotted;
	border-color: #F8CA4D;
	border-style: dotted;
}

.text-container {
	max-width: 600px;
	margin: auto;
	margin-top: 10%;
}

.about-section-right h2{
	text-align: left;
	color: #141414;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-top: 6.9565217%;
}

.about-section-right h2::first-letter {
	text-decoration: underline;
	text-decoration-color: #F8CA4D;
	font-size: 30px;
}

.about-section-right h3 {
	color: #141414;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding-top: 20px;
}

.about-section-right h4 {
	color: #141414;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 300;
	font-style: italic;
	padding-top: 5px;
}

.about-section-right p {
	text-align: left;
	color: #141414;
	font-size: 16px;
	font-family: 'PT Serif', serif;
	padding-top: 20px;
	line-height: 20px;
}

.education-text-left{
	width: 48%;
	float: left;
	margin-bottom: 7%;
}

.education-text-right {
	width: 48%;
	float: right;
	margin-bottom: 7%;
}

.about-section-right .yellow-text{
	clear: both;
	color: #F8CA4D;
	font-weight: 700;
}

.about-section-right .italic {
	font-style: italic;
}

#workpage {
	height: 100vh;
	width: 100%;
}

.work-section-main {
	float: right;
	width: 50%;
	height: 100vh;
	background-color: #105B63;
}

.work-section-main img {
	max-width: 100%;
	overflow: auto;
	height: auto;
}


.work-section-text {
	float: left;
	height: 100vh;
	width: 50%;
	background-color: #FFFAE2;
	border-top: 2px dotted;
	border-bottom: 2px dotted;
	border-style: dotted;
	border-color: #105B63;
}

.work-section-text h2 {
	text-align: center;
	color: #2F3440;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

.work-section-text h2::first-letter {
	text-decoration: underline;
	text-decoration-color: #105B63;
	font-size: 30px;
}


.work-section-text img {
	max-width: 100%;
}

#aboutpage, #workpage, #contactpage{
	display: inline-block;
	width: 100%;
}

.contact-section-left {
	float: left;
	height: 100vh;
	width: 50%;
	background-color: #BD4932;
}

.contact-section-left img {
	max-width: 100%;
}

.contact-section-right {
	float: right;
	height: 100vh;
	width: 50%;
	background-color: #FFFAE2;
	border-top: 2px dotted;
	border-bottom: 2px dotted;
	border-style: dotted;
	border-color: #BD4932;
}

form {
	clear: both;
	overflow: auto;
}

#form-container h2{
	text-align: center;
	color: #2F3440;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
	margin-left: 20px;
	letter-spacing: 2px;
	margin-top: 300px;
}

#form-container {
	max-width: 575px;
	margin: auto;
}

.form-textfield {
	clear: both;
	overflow: auto;
	margin: 20px;
}

.form-textfield__input {
	border: none;
	outline: none;
	border-bottom: 1px solid #2F3440;
	display: block;
	font-size: 16px;
	font-family: "PT Sans", serif;
	padding: 8px 0;
	width: 100%;
	background: none;
	text-align: left;
	letter-spacing: 2px;
}

button {
	text-decoration: none;
	border-style: none;
}

.form-button {
	clear: both;
	overflow: auto;
	float: right;
	background-color: #BD4932;
	width: 26.178%;
	height: 40px;
	color: #FFFAE2;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	border-radius: 2px;
	line-height: 40px;
	margin-top: 10%;
	letter-spacing: 1px;
	font-weight: 300;
}

#thank-you-page h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #141414;
	margin-top: 30px;
	margin-bottom: 30px;

}

.thank-you-page-wrapper {
	width: 660px;
	height: 660px;
	margin: auto;
	background-color: #BD4932;
}

#thank-you-page img {
	max-width: 100%;
}

.thank-you-nav {
	text-align: center;
	color: #141414;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 24px;
	font-weight: 300;
}

.thank-you-nav a{
	text-decoration: none;
	color: #141414;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 24px;
	font-weight: 300;
}

.thank-you-nav a:hover{
	font-weight: 400;
	font-size: 24px;
}

#thank-you-page h2 {
	text-align: center;
	color: #FFFAE2;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding-top: 20px;
}

@media screen and (max-width: 960px) {
	.about-section-left {
		width: 100%;
		height: 100vh;
	}
	.about-section-right {
		width: 100%;
		height: 100vh;
	}

	.about-section-right .text-container {
		width: 100%;
		height: 100vh;
	}

	.work-section-main {
		width: 100%;
		height: 100vh;
	}

	.work-section-text {
		width: 100%;
		height: 100vh;
	}

	.contact-section-left {
		width: 100%;
		height: 100vh;
	}

	.contact-section-right {
		width: 100%;
		height: 100vh;
	}

}

@media screen and (max-width: 600px) {
	.about-section-left {
		width: 100%;
		height: 100vh;
	}
	.about-section-right {
		width: 100%;
		height: 100vh;
	}

	.about-section-right .text-container {
		width: 100%;
		height: 100vh;
		display: block;
	}

	.work-section-main {
		width: 100%;
		height: 100vh;
	}

	.work-section-text {
		width: 100%;
		height: 100vh;
	}

	.contact-section-left {
		width: 100%;
		height: 100vh;
	}

	.contact-section-right {
		width: 100%;
		height: 100vh;
	}

}
